# Auto detect text files and perform LF normalization
* text=auto

# Force the following filetypes to have unix eols, so Windows does not break them
*.sh text eol=lf
*.conf text eol=lf
*.cfg text eol=lf
*.sh text eol=lf
*.md text eol=lf

# Ensure these files are treated as binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.eot binary
*.woff binary
*.woff2 binary
*.pyc binary
*.pdf binary
*.ez binary
*.bz2 binary
*.swp binary
*.image binary
*.deb binary
*.rpm binary
*.exe binary
*.msi binary
*.msm binary
*.msp binary
*.cab binary
*.msm binary
*.msp binary
